.details {
    @extend .section-spacing;

    figure {
        @include flex(column);
    }

    h1 {
        @extend .section-title;
    }

    .card-header {
        @include flex();
        @include size(60vw, 100%);

        margin-bottom: 25px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }
    }

    figcaption {
        @include size(auto, 100%);
    }

    .small {
        @include font(13px);

        opacity: .8;

        &.small-plus {
            margin-bottom: 25px;
        }
    }

    .product-price {
        @extend .text-danger;

        @include font(24px, 600);

        line-height: 30px;
    }

    .counter {
        @extend
            .border-top,
            .border-bottom;

        flex-direction: column;

        padding: 25px ($grid-gutter-width / 2);

        button {
            @extend .btn-block;

            margin-top: 15px;
        }
    }

    ul {
        list-style: square;
        margin: 25px ($grid-gutter-width / 2);

        li {
            margin: 5px 0;
        }
    }

    .description {
        @extend .border-top;

        padding-top: 25px;
    }

    .counter,
    .description {
        @extend .section-antispacing;
    }

    [class^='label-'] {
        @extend .text-center;

        @include font(14px, 300);

        color: white;
        position: absolute;
        right: 0;
        width: 72px;
        padding: 5px 0;

        &.label-red {
            @extend .bg-danger;

            top: 40px;
            //top: 0px;
        }

        &.label-blue {
            @extend .bg-info;

            top: 75px;
            //top: 35px;
        }
    }

    @include media-breakpoint-up (md){
        figure {
            @include flex(
                $vertical: flex-start,
                $wrap: nowrap
            );
        }

        .card-header {
            @include flex();
            @include size(auto, 100%);

            margin-bottom: auto;
            margin-right: 40px;
            overflow: hidden;
            position: relative;
        }

        figcaption {
            width: 70%;
        }

        .counter {
            flex-direction: row;
            padding-left: 0;
            padding-right: 0;

            button {
                margin-left: 25px;
                margin-top: 0;
            }
        }

        .description {
            margin-top: 25px;
        }
    }
}