.products {
    @extend .section-spacing;

    h1 {
        @extend .section-title;
    }

    > div {
        @include flex(column, $vertical: flex-start);
    }

    aside {
        h3 {
            @extend .lead;

            margin-bottom: 20px;
        }

        > div {
            margin-bottom: 40px;
        }
    }

    article {
        @include flex($horizontal: space-between);

        margin: -20px -10px;
        width: calc(100% + 20px);

        figure {
            @include flex(column);
            @include size(auto, 100%);

            margin: 20px 10px;
            padding: 25px 15px;
            position: relative;

            &:hover {
                @extend .border;

                box-shadow: 3px 3px 4px 0 rgba(black, .3);
                padding: 24px 14px;

                [class^='label-'] {
                    right: -1px;

                    &.label-red {
                        @extend .bg-danger;

                        top: 40px;
                    }

                    &.label-blue {
                        @extend .bg-info;

                        top: 75px;
                    }
                }
            }
        }

        .card-header {
            @include flex();
            @include size(auto, 100%);

            margin-bottom: 20px;
            overflow: hidden;

            img {
                @include size(auto, 100%);
            }
        }

        figcaption {
            @include size(auto, 100%);
        }

        h2 {
            @extend
                .text-capitalize,
                .d-block;

            @include font(15px);

            color: #333;
            line-height: 20px;
            margin-bottom: 15px;

            &:hover {
                text-decoration: underline;
            }
        }

        .small {
            opacity: .8;

            &.small-plus {
                margin-bottom: 30px;
            }
        }

        .product-price {
            @extend .text-danger;

            @include font(15px, 600);
        }

        .counter {
            justify-content: space-between;

            input {
                margin-right: 25px;
            }
        }

        [class^='label-'] {
            @extend .text-center;

            @include font(14px, 300);

            color: white;
            position: absolute;
            right: 0;
            width: 72px;
            padding: 5px 0;

            &.label-red {
                @extend .bg-danger;

                top: 41px;
            }

            &.label-blue {
                @extend .bg-info;

                top: 76px;
            }
        }
    }

    @include media-breakpoint-up (sm){
        > div {
            @include flex(
                $horizontal: flex-start,
                $vertical: flex-start,
                $wrap: nowrap
            );
        }

        aside {
            margin-right: 25px;
            width: 250px;
        }

        article {
            width: auto;

            figure {
                @include size(390px, 236px);
            }

            .card-header {
                @include size(137px, 100%);

                margin-bottom: auto;
            }

            .counter {
                justify-content: space-between;

                input {
                    margin-right: 10px;
                }
            }
        }
    }
}