$primary: #1979c3;
$secondary: #ff5501;
$light: #f5f6f1;
$dark-blue: #006bb4;
$gray: #6e716e;
$dark-gray: #575757;
$light-gray: #f0f0f0;
$font-color: #333;

$link-hover-decoration: none;

$border-radius: 0;
$border-radius-sm: 0;
$border-color: #cecece;

$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;

$popover-max-width: 390px;
$popover-header-bg: white;
$popover-header-color: #333;
$popover-header-padding-y: 25px;
$popover-header-padding-x: 25px;
$popover-border-radius: 0;
$popover-body-padding-y: 15px;
$popover-body-padding-x: 15px;

$grid-gutter-width: 40px;
$body-max_width: 1280px;